QToolButton {
    background-color: black;
    padding: 0px;
    margin-top: %SZ_SPACING%px;
    margin-right: %SZ_SPACING%px;
    border: none;
    border-top: %SZ_HIGHLIGHT%px solid black;
    width: %SZ_ICON%px;
    height: %SZ_ICON%px;
}
QToolButton:checked {
    border-top-color: white;
}
QToolButton:hover {
    border-top-color: #999;
}
QToolButton#btnMap {
    margin-left: %SZ_SPACING%px;
}
QWidget#container {
    background-color: black;
}
